/* @media only screen and (min-width: 1000px) { */

.allprogressbtnscontainer {
    height: 100px;
}

.progressbtncontainer {
    display: grid;
    grid-template-columns: 155px;
    grid-template-rows: 40px 7px;
    grid-template-areas: "row1""row2";
    grid-gap: 0;
    float: left;
}

.progressbtncontainer:last-child() {
    float: left;
    clear: both;
}

.cableplansbtn {
    grid-area: row1;
    font-size: .9rem !important;
}

.progressdiv {
    grid-area: row2;
}

.progress-bar {
    /* border-radius:50%; */
    margin-top: -2px;
    height: 7px;
    background-color: #1d8c96 !important;
}

/* } */

@media only screen and (max-width: 505px) {
    .allprogressbtnscontainer {
        height: 150px;
    }
}