* {
  box-sizing: border-box;
}

body {
  margin-top: 5%;
}

.card-includes-text {
  word-wrap: normal;
  width: 300px;
  text-align: start;
  margin: 20px auto;
}

h3 {
  text-align: center;
}

ul {
  /* RESET */
  padding-inline-start: 0 !important;
}

form {
  box-shadow: 0px 1px 5px #9c9c9c;
  /* background-color: white; */
  background-color: #ecf0f1;
  min-width: 350px;
}

#regForm {
  margin: 10px auto 0 auto;
  font-family: Raleway;
  padding: 5px 20px;
  border-radius: 2px;
  border: none !important;
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}

.btnmargins {
  margin-right: 2px;
  margin-bottom: 2px !important;
}

.cableplansbtnscontainer {
  text-align: center;
}

.centerchild {
  text-align: center;
}

.hide {
  display: none !important;
}

.selectboxtype {
  max-width: 200px;
  margin: 20px auto;
  text-align:center;
}

.cableplanscard {
  margin-top: 20px;
}

.input-and-label-container {
  border: 1px solid lightgray;
  border-radius: 4px;
  float: none;
  height: 35px;
  display: flex;
  align-items: center;
}

.input-and-label-container>div:first-child {
  border-right: 1px solid lightgray;
  height: 100%;
  width: 35px;
  justify-content: center;
}

.input-and-label-container>div:first-child,
.input-and-label-container>div:nth-child(2) {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.input-and-label-container label {
  margin-bottom: 2px;
  margin-left: 20px;
}

.input-and-label-container input[type='checkbox'] {
  margin-top: 0 !important;
}

label {
  font-size: 13px;
  font-weight: 500 !important;
  color: #6b6b6b;
}

/*
    Tabs indeling 2 col naar 1 col.
  */
.tab-tab1 h4, .tab-tab2 h4 {
  margin-top: 10px;
}

.tab-tab1 {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 40px 70px 70px 70px 70px 70px 70px;
  grid-template-areas: "row1"
    "row2"
    "row3"
    "row4"
    "row5"
    "row6"
    "row7"
    "row8"
    "row9";
}

.tab-tab1 h4 {
  grid-area: row1;
}

.fnamegroup {
  grid-area: row2;
}

.lnamegroup {
  grid-area: row3;
}

.emailgroup {
  grid-area: row4;
}

.phonegroup {
  grid-area: row5;
}

.billinggroup {
  grid-area: row6;
}

.uploadgroup_id {
  grid-area: row7;
}

.uploadgroup_income {
  grid-area: row8;
}

.uploadgroup_address {
  grid-area: row9;
}


.tab-tab2 {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 70px 70px;
  grid-template-areas: "row1col1"
    "row2col1"
    "row3col1";
}

.tab-tab2 h4 {
  grid-area: row1col1;
}

.serviceplan {
  grid-area: row2col1;
}

.test {
  grid-area: row3col1;
}

/* Eind Tab inhoud indeling */

/* Progres bar and next buttons */
.bottomelements-container {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 70px 70px;
  grid-template-areas: "nextprevbtn"
    "progressbar";
}

.steps-progressbar-container {
  grid-area: progressbar;
}

.btncontainer {
  margin: 20px 0;
  grid-area: nextprevbtn;
  align-self: center;
  display: flex;
}

.btncontainer button {
  width: 100%;
}

/* end progres bar and next buttons*/

/* Steps container  https://steemit.com/utopian-io/@alfarisi94/how-to-make-step-progress-component-in-vue-js*/

.steps-progressbar-container {
  width: 100%;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.progressbar li {
  float: left;
  width: 15%;
  position: relative;
  text-align: center;
  list-style-type: none;

}

.progressbar li:not(:first-child) {
  margin-left: 20px;
}

.progressbar {
  counter-reset: step;
  background-color: #3aac5d;
  min-width: 250px;
  max-width: 400px;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px 0;
  border-radius: 4px;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

.progressbar li:not(:last-child):after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: 30px;
  z-index: -1;
}

.progressbar li.active::after {
  background: #2ac9d7;
}

.progressbar li.active::before {
  border-color: #2ac9d7;
  background: #2ac9d7;
  color: white
}

/* ###### End Steps container ###### */

.btntextcolor {
  color: white;
}

button:visited {
  /* color: red !important; */
  font-weight: bold !important;
  color: white !important;
}

button:active {
  font-weight: bold !important;
  color: white !important;
}

button:focus {
  color: white !important;
  outline: 2px auto rgb(32, 32, 32) !important;
}

.btncontainer>button {
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input, select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
}

.tab>p>label {
  margin-left: 10px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/*Overriding bootstrap */
.tab .container {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* end override */
.card-header-changed {
  animation-name: animatetext;
  animation-duration: .9s;
}

@keyframes animatetext {
  from {
    font-size: 1.5rem;
  }

  to {
    background-color: 1rem;
  }

  /* from {background-color: red;}
    to {background-color: yellow;} */
}


@media only screen and (max-width: 500px) {
  html, body, form {
    height: 100%;
  }

  form {
    box-shadow: 0px 0px transparent;
  }

  .stepcontainer {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
  }

  .step {
    height: 50px;
    width: 50px;
  }

  /* .allprogressbtnscontainer {
      display: grid;
      grid-template-columns: 33% 33% 33% !important;
      grid-template-rows: 50px 50px !important;
      grid-template-areas: "row1col1 row1col2 row1col3"
                           "row2col1 row2col2 row2col3";
      grid-gap:0;
    }

    .progressbtncontainer:first-child()
    {
      grid-area: row1col1;
    }
    .progressbtncontainer:nth-child(2)
    {
      grid-area: row1col2;
    }
    .progressbtncontainer:nth-child(3)
    {
      grid-area: row1col3;
    }
    .progressbtncontainer:nth-child(4)
    {
      grid-area: row2col1;
    }
    .progressbtncontainer:nth-child(5)
    {
      grid-area: row2col2;
    }
    .progressbtncontainer:nth-child(6)
    {
      grid-area: row2col3;
    } */
}

@media only screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  html, body, form {
    height: 100%;
  }

  form {
    box-shadow: 0px 0px transparent;
  }

  body {
    margin: 0;
  }

  #regForm {
    padding: 40px;
    max-width: 100% !important;
    min-width: 300px;
  }

  .stepcontainer {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
  }

  .step {
    height: 70px;
    width: 70px;
    margin: 0 5px;
  }

  /* .setarblue:active {
        border-color: #2DCBD4 !important;
        background-color: #2dcbd3!important;
    } */

  .setarblue:hover {
    border-color: transparent;
    background-color: transparent;
  }
}

@media only screen and (min-width: 1000px) {
  .bottomelements-container {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-areas: "row1col1 row1col2"
  }

  .btncontainer {
    margin: 20px 0;
    grid-area: row1col2;
    align-self: center;
    justify-self: end;
  }

  .steps-progressbar-container {
    grid-area: row1col1;
    align-self: center;
  }

  .btncontainer button {
    width: auto;
  }


  .progressbar li {
    width: 25%;
  }

  .fnamegroup, .lnamegroup, .phonegroup, .emailgroup, .billinggroup,
  .uploadgroup_id, .uploadgroup_income, .uploadgroup_address {
    width: 95%;
  }

  .tab-tab1 {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-template-rows: 70px 70px 70px;
    grid-template-areas: "row1col1 row1col2"
      "row2col1 row2col2"
      "row3col1 row3col2"
      "row4col1 row4col2"
      "row5col1 row5col2";
  }

  .tab-tab1 h4 {
    grid-area: row1col1;
  }

  .fnamegroup {
    grid-area: row2col1;
  }

  .lnamegroup {
    grid-area: row2col2;
    justify-self: end;
  }

  .emailgroup {
    grid-area: row3col1;
  }

  .phonegroup {
    grid-area: row3col2;
    justify-self: end;
  }

  .billinggroup {
    grid-area: row4col1;
  }

  .uploadgroup_id {
    grid-area: row4col2;
    justify-self: end;
  }

  .uploadgroup_income {
    grid-area: row5col1;
  }

  .uploadgroup_address {
    grid-area: row5col2;
    justify-self: end;
  }

  .tab-tab2 {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 70px 50px 70px;
    grid-template-areas: "tab2_row1col1"
      "tab2_row2col1"
      "tab2_row3col1";
  }

  .tab-tab2 h4 {
    grid-area: tab2_row1col1;
  }

  .serviceplan {
    grid-area: tab2_row2col1;
  }

  .test {
    grid-area: tab2_row3col1;
  }

  #regForm {
    /* padding: 30px; */
    /* max-width: 90%; */
    min-width: 560px;
  }

  body {
    background-color: #f1f1f1;
  }
}