.lightgreen {
    background-color: #25b6c3;
    color: #25b6c3;
}

.green {
    background-color: #21a2ad;
    color: #21a2ad !important;
}

.highlightedgreen {
    /* font-weight:bold; */
    color: #21a2ad !important;
    /* text-shadow: 0 0 7px #21a2ad !important; */
}

.pricedisplay {
    font-size:1.3em !important;
}

/*
CCM bootstrap icons are always white.
*/

.iconcolors {
    color: #fff;
}

.setarthemegreen_btnprimary:focus {
    outline: 2px auto #3c8288 !important;
}

.setarthemegreen_light {
    background-color: #25b6c3;
}

.setarthemegreen_darker {
    background-color: #21a2ad;
}
.setarthemegreen_darkest {
    background-color: #14646b;
}


.setarthemegreen_btnprimary {
    background-color: #25b6c3 !important;
    color: white !important;
}

.setarthemegreen_labelcolor {
    color: #3c8288;
}

.setarselectedbtn,.setarbtnprimary {
    background-color: #25b6c3 !important;
    color: white !important;
}

.setarblue {
    color: white;
    background-color: #223d94;
}

.setarblue:hover {
    border-color: #2DCBD4 !important;
    background-color: #2dcbd3!important;
}